@import url('https://fonts.googleapis.com/css?family=Open+Sans');
*{
	margin:0px;
	padding:0px;
}


.error{
	background: #E74F4F;
    top: 0;
    padding: 10px 0;
    border-radius:  0 0 5px 5px;
    color: #fff;
    width: 100%;
    text-align: center;
    display: none;
}

body{
	background:url(../img/1.jpg);
}


.container{
	width: 30%;
    background-color: rgba(25, 23, 23);
    text-align: center;
	border-radius: 5px;
	margin: 17% auto 0 auto;
	padding: 3%;
    position: relative;
}

.container input[type="button"] {
    width: 99%;
    margin: 0 auto;
    padding: 13px 0;
    background: rgba(20, 143, 119,.4);
    border: 1px solid rgba(20, 143, 119,.4)
}

input[type="button"]:hover{
	opacity: .8;
}

.container input[type="mail"], input[type="password"]{
	width: 97%;
    height: 25px;
    margin: 0 0 15px;
    padding: 10px 1%;
    font-size: 18px;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	text-align: center;
	border:0;
}